@use "../../shared/styles/variables" as *;

.header {
  //position: fixed;
  padding: 0 20px;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  background-color: $background-color;
  color: #333;
  box-shadow: 0 5px 10px gray ;
  width: 100%;


  &-title {
    font-size: 24px;
    font-weight: bold;
    margin: 0;
    color: $primary-color;
  }
}